div#alerts {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);

    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

div#alert {
    max-width: 50vw;
    border: 1px solid var(--border-color);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    margin-top: 8px;
    padding: 4px;
    border-radius: 4px;
    background-color: var(--alert-color);
}

div#alert:hover {
    cursor: pointer;
}

div#alert.ERROR {
    background-color: var(--error-color);
}

div#alert.SUCCESS {
    background-color: var(--success-color);
}