div#site {
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div#site>form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 5px;
}

input,
select,
textarea {
    height: 32px;
    width: 50%;

    padding: 8px;
    margin: 8px 0px;

    border: 2px solid var(--border-color);
    border-radius: 16px;

    font-family: inherit;
    font-size: inherit;
}

select {
    box-sizing: content-box;
}

button {
    appearance: none;

    width: 50%;

    padding: 8px;
    margin: 8px 0px;

    border: unset;
    border-radius: 16px;

    background-color: var(--button-color);
    color: var(--text-color);

    font-family: inherit;
    font-size: inherit;
    font-weight: 700;
    transition-duration: 250ms;
}

button:hover:not(:disabled) {
    box-shadow: 0px 0px 10px var(--button-color);
}

select,
textarea {
    background-color: var(--select-color);
}

button:disabled {
    filter: grayscale() brightness(0.5);
}