#site>div {
    grid-column: 1 / -1;
    max-height: calc(100vh - 96px);
}

#site img.reload {
    max-height: 25%;
    max-width: 75%;
}

#site img.qr {
    max-height: 35%;
    max-width: 75%;
}

#vouchers2 {
    overflow: hidden;
}
